.store-content {
  text-align: center;
}

.store-content > h1 {
  font-weight: 400;
  margin: 1rem;
}

.drink-selection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.store-item img {
  height: 24rem;
  width: auto;
  margin: 0 -2rem 0 -2rem;
}


