.order-complete {
  background-color: black;
  min-height: 85vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.order-container {
  width: 45%;
  text-align: center;
  margin-top: 1rem;
}


.message {
  text-align: center;
}


.order-summary {
  display: flex;

  justify-content: space-between;
  align-items: center;

}

.total {
  text-align: right;
}