.header {
  height: 10vh;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 2;

}

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 7rem;
  height: auto;
  margin-left: 3rem;
  margin-right: 3rem;
}

.links {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin-right: 4rem;
  cursor: pointer;
}

.header:hover {
  background-color: black;
}

.dark-banner {
  background-color: black;
}